# Binaries for programs and plugins
main
rayv
*.exe
*.exe~
*.so
*.dylib
*.dll
*.o

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.velvet/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js

# Bug related reproduction code
*_bug.v

# Generated executables
examples/workbench/workbench
examples/image_gen/image_gen
examples/basic_window/basic_window
examples/physics_demo/physics_demo
examples/threadloader/threadloader
examples/line_demo/line_demo
examples/fireworks/fireworks

# WIP
docs/
